<h1>Bienvenidos</h1>

<div class="jumbotron">
  <h1>Mascotas</h1>
  <p>Registra tu mascota para compartirlas por la web</p>
  <p><a class="btn btn-primary btn-lg" href="/crearUsuario" role="button">Registrar usuarios</a></p>
</div>





