<h1>
  {{title}}
</h1>
<p>
  {{nombre}} - {{apellido}}
</p>

<!--h3 [style.backgroundColor]="colorH4" >{{nombresss()}}</h3-->
<!--h3 [innerHTML]="nombresss()" (click)="clicksss()" (mouseenter)="hizofocus()" [style.fontSize]="tamanoH4"
[class]="classes"></h3>

<input type="text" [placeholder]="nombresss()"-->

<div class="container">
  <form (ngSubmit)="crearTienda(NuevoTiendaForm)" #NuevoTiendaForm="ngForm">
    <div class="form-group">
      <label>Tienda</label>
      <input type="text" class="form-control" placeholder="Digite un nombre de la tienda como: Adidas" name="nombre"
      [(ngModel)]="nuevatienda.nombre">
    </div>
    <button type="submit" class="btn btn-block btn-success">Crear</button>
  </form>
</div>
