<h1>Lista de usuarios</h1>

<p>Aqui se listan todos los usuarios del sistema de mascotas</p>

<% for(var i=0; i<usuarios.length;i++) {%>

	<div class="row ma-margen-top-bottom">
		<div class="col-sm-1"></div>
		<div class="col-sm-4 text-center ma-border ma-padding-top-bottom">
			<h1> <%= usuarios[i].apellidos%></h1>
		</div>
		<div class="col-sm-1"></div>
		
		<div class="col-sm-5 text-center ma-border" style="margin-top:30px">
			<p> <%= usuarios[i].apellidos%> <%= usuarios[i].nombres%></p>
			<p> <%= usuarios[i].correo%></p>
		</div>
		<div class="col-sm-1"></div>
		
	</div>

<% }%>