<h2>Crear una Raza</h2>
<form action="/Raza/CrearRaza" method="post">

<div class="form-group">
		<label for="exampleInputEmail1">Nombre de la Raza</label>
		<input type="text" class="form-control" placeholder="Ingrese nombre de la raza" name="nombre">
	</div>
	
		
	<button type="submit" class="btn btn-success">Crear Raza =)</button>
</form>