        html{
            background-color: #e8caf5;
        }
        body{
            background-color: #a8cfff;
        }
        h1{
            background-color: #d8ca86;
        }
        p{
            background-color: #d060ff;
        }
        cualquiera{
            background-color: cadetblue;
        }
        
        /*
        POR CLASE
        .nombreClase{
        
        }
        */
        
        .nombreClaseRojo{
            background-color: red;
        }
        .nombreClaseAzul{
            background-color: darkblue;
        }
        .nombreClaseAmarillo{
            background-color: yellow;
        }
        
        /*POR ID*/
        #parrafoverde{
            background-color: crimson;
        }