<div style='backgorund-color:black;color:black;'>
	
	<% var numero1=1; %>
	
	<% var arregloMascota=[
		{
			nombre: 'Adrian'
		},
		{
			nombre: 'Vicente'
		},
		{
			nombre: 'Eguez'
		}] %>
	
	<h1>Home</h1>
	<h2><%= mauricio.nombre %> - <%= mauricio.cedula %> - <%= numero %></h2>
	
	
	<% for(var i=0; i<arregloMascota.length;i++) {%>
	<h3><%= arregloMascota[i].nombre%></h3>
	<%}  %>
	
	
	
</div>



